   body{
    background-image: url(background.jpg);
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    padding-top: 100px;
 } 

 @media (min-width:400px) {
    .heading,.explainText{
        font-size: 10px;
    }
    input{
        width: 140px;
    } 
    .boardSuduko{
        width: 50px;
        height: 50px;
    }
     
 }

 
@media (min-width: 576px) { 
    .heading{
        font-size: 15px;
    }
    .explainText{
        font-size: 8px;
    }
    input{
        width: 150px;
    }
 }

@media (min-width: 768px) { 
    .heading{
        font-size: 20px;
    }
    .explainText{
        font-size: 12px;
    }
    input{
        width: 160px;
    }
 }

@media (min-width: 992px) {     
    .heading{
        font-size: 25px;
}
.explainText{
    font-size: 15px;
}
input{
    width: 170px;
} 
}

@media (min-width: 1200px) { 
    .heading{
        font-size: 30px;
    }
    .explainText{
        font-size: 20px;
    }
    input{
         width: 180px;
    }
 } 
 @media (max-height:400px) {
     body{
         padding-top: 40px;
     }
     .paddingHeader{
         padding-top: 10px;
     }
     
 }
 @media (max-height:500px) {
    body{
        padding-top: 60px;
    }
    .paddingHeader{
        padding-top: 20px;
    }
 }
 @media (max-height:600px) {
     body{
         padding-top: 80px;
     }
     .paddingHeader{
        padding-top: 30px;
    }
 }
                                                       
 .center{
     text-align: center;
 }
 .heading{
     font-weight: bold;
     color: lightcoral;
 }
 .paddingHeader{
     padding-top: 40px;
 }

 
 .boardSuduko{
     width: 250px;
     height: 250px;
 }

 .hide{
     display: none;
 }

 .show{
     color: red;
     margin-bottom: 0px;
 }


 table,td, tr {
    border: 1.5px solid black;
    border-collapse: collapse;
    border-spacing: 0px;
    padding: 0px;
    margin-left:120px;
    background-color:#c36902;
    color: white;

  }
  td{
    width: 37px;
    height: 37px;
  }

  td input
  {
      width: 37px;
      height: 37px;
      outline: none;
      border: none;
      text-align: center;
      color:cornflowerblue;
      
  }

  #tableDiv{
      position: absolute;
      margin-left: 250px;
      margin-top: 50px;
  }

  #finish{
    position: absolute;
    margin-left: 43px;
  }
  .thickBorderRight
  {
      border-right:4px solid black;
  }
  .thickBorderLeft
  {
      border-left:4px solid black;
  }
  .thickBorderBottom
  {
      border-bottom:4px solid black;
  }
  .thickBorderTop
  {
      border-top:4px solid black;
  }

  .error{
      color: red;
      border: 1.5px solid black;
      margin-left: 760px;
    margin-top: 200px;
  }

  .win{
    color: green;
    border: 1.5px solid black;
    margin-left: 760px;
    margin-top: 200px;
  }

  .loose{
    color:orangered;
    border: 1.5px solid black;
    margin-left: 760px;
    margin-top: 200px;
  }

  .slotError{
      background-color: red;
      color: white;
  }
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
    margin: 0;
  }
